@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-share-tech-mono: 'Share Tech Mono', Menlo, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: -0.01em;
}

.font-tech {
  font-family: var(--font-share-tech-mono), 'Share Tech Mono', Menlo, monospace;
  letter-spacing: 0.13em;
  /* Pas de font-size ici, laisse Tailwind gérer */
  text-transform: none;
}

.font-tech-upper {
  font-family: var(--font-share-tech-mono), 'Share Tech Mono', Menlo, monospace;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  font-weight: 50;
  /* Pas de font-size ici, laisse Tailwind gérer */
}

.font-tech-sm {
  font-family: var(--font-share-tech-mono), 'Share Tech Mono', Menlo, monospace;
  letter-spacing: 0.14em;
  font-size: 0.97em;
}
